.benefits  {
    margin: auto;
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    background-color: grey;
    color: white;
}

.benefits li {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.benefits li + li {
    border-left: 1px solid white;
}